/* ! CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* header */
header{
    display: flex;
    position: fixed;
    background-color: rgb(255, 123, 0);
    height: 60px;
    width: 100%;
    box-shadow: 2px 2px 2px gray;
}
header > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.logo > img{
    height: 50%;
}    
a{
    color: white;
    text-decoration: none;
}
