/* ! CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* header */
header{
    display: flex;
    position: fixed;
    z-index: 2;
    background-color: rgb(255, 123, 0);
    height: 60px;
    width: 100%;
    box-shadow: 2px 2px 2px gray;
}
header > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 35px
}
.logo > img{
    height: 50%;
}    
a{
    color: white;
    text-decoration: none;
}

/* sezione dello shop */
.shop{
    display: flex;
    justify-content: center;
}
.deck-shop{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-basis: 80%;
    flex-wrap: wrap;
    min-height: 700px;
    padding-top: 100px;
}
.card{
    position: relative;
    flex-basis: 400px;
    margin-bottom: 100px;
}
.main{
    height: 100%;
    width: 100%;    
}
.hidden{
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.favorite{
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 1;
    background-color: white;
    padding: 15px;
}

/* ? regole hoover */
.card:hover .main{
    display: none;
}
.card:hover .hidden{
    display: block;
}
.fas:hover{
    display: none;
}
.fas:hover{
    display: inline-block;
    color: red;
}




